[data-compare-2d="container"] {
  border-radius: 0;
  border: 1px solid black;
}

[data-compare-2d="handle"] {
  width: 16px;
  height: 16px;
  background: black;
  border-radius: 50%;
}

[data-compare-2d="container"]:focus-within
  [data-compare-2d="handle"] {
  outline: 4px auto white;
}

[data-compare-2d="line"] {
  background: black;
}

[data-compare-2d="line"][data-orientation="vertical"] {
  width: 1px;
}

[data-compare-2d="line"][data-orientation="horizontal"] {
  height: 1px;
}
